{% extends 'base.html' %}
{% load static %}

{% block title %}Prijava{% endblock %}

{% block content %}
<section class="login-section">

    <div class="login-card">
        <h2>Prijava</h2>

        <form class="login-form">

            <label>Korisničko ime</label>
            <div class="input-group">
                <img src="{% static 'images/user.png' %}" class="input-icon" alt="user">
                <input type="text" placeholder="">
            </div>

            <label>Zaporka</label>
            <div class="input-group">
                <img src="{% static 'images/lock.png' %}" class="input-icon" alt="lock">
                <input type="password">
            </div>
            <button type="submit" class="login-btn">Prijavi se</button>

            <a href="#" class="forgot">Zaboravili ste zaporku?</a>

        </form>
    </div>

</section>

{% endblock %}